<div class="wrapper">
    <div class="wrapper-container">
        <mat-fab-menu color="primary" direction="right" [fabButtons]="fabButtonsRandom"  (onFabMenuItemSelected)="onSelectionCategory($event)" ></mat-fab-menu>
        <div class="wrapper-container-forms" [formGroup]="formType">
            <mat-form-field>
                <input matInput type="slug" formControlName="slug" placeholder="{{ 'forms.slug' | translate }}">
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="texto" formControlName="name" placeholder="{{ 'forms.name' | translate }}">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{"forms.status" | translate}}</mat-label>
                <mat-select formControlName="status" >
                    <mat-option *ngFor="let item of status" [value]="item.value.toString()">{{item.label | translate}}</mat-option>
                </mat-select>
            </mat-form-field> 

            <category-auto [control]="autControl"></category-auto>
        </div>
     </div>
    <div>
        <mat-progress-bar mode="query" *ngIf="tableController.dataSource.loading$ | async"></mat-progress-bar>
        <table mat-table matSort  [dataSource]="tableController.dataSource">
            <ng-container matColumnDef="SELECT">
                <th mat-header-cell *matHeaderCellDef>
                    
                 </th>
                <td mat-cell *matCellDef="let element">  
                    <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? changeSelector(element) : null"
                    [checked]="tableController.selection.isSelected(element)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="SLUG">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.slug' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.slug}} </td>
            </ng-container>
            <ng-container matColumnDef="NAME">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.name' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="DESCRIPTION">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.description' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="Category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.category' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.category  | translate }} </td>
            </ng-container>
            <ng-container matColumnDef="STATUS">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.status' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{this.getTranslate(element.status ) | translate }} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="tableController.displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableController.displayedColumns;">
            </tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 100]" [length]="tableController.dataSource.paginatorTotal$ | async" showFirstLastButtons></mat-paginator>
    </div>

</div>
