.wrapper {

    &-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        gap: 50px;
        margin-top: 20px;
        &-forms {
            display: flex;
            flex-flow: row wrap;
            gap: 50px;
        }
        &-button {
            max-height: 36px;
            &-margin {
                margin-left: auto;
            }
        }
    }
}

table {
    width: 100%;
}
